
{% extend "app/base.html.tpl" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>
    {% if a==1 && c > d; %}
    text in if
    {% elseif c >= d %}
    text in else if
    {% endif %}

    <div>
        {% for key = list; key < 2; key++ %}
        {% set a = c %}
            {{ key }}: {{ value }}
        {% endfor %}
    </div>
    {% block test %}
    {% 
        include "/app/user/profile.html.tpl" with 
        a=c;
        b=d+e;
    %}
    {% endblock %}
</body>

</html>